.myBubbleUI {
	width: 100%;
	max-width: 1000px;
	height: 500px;
	border-radius: 50px;
    background-color: gray;
    justify-content: 'center';
    margin-left: auto;
    margin-right: auto;
}

.child {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s ease;
}

.child:hover {
    opacity: 0.5;
}
