.workspace-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Card look */
    transition: 0.3s;
    background-color: white;
    border-radius: 4px; /* Round corners */
}

.workspace-card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
